<template> 
    <p class="p-categoria">
        <span v-for="t in tipoComunicadoFiltro"> {{ t.name }} </span>
    </p>
</template>

<!--Scripts-->
<script>
    export default {
        name: 'app',

        props: ['idcat'],            

        //Dados da aplicação
        data () {
            return {
                tiposComunicado: []
            }
        },

        //Consumindo dados da fake api
        created() {
            this.$http.get('http://localhost:84/tiposComunicados')
                .then(res => res.json())
                .then(apifake => this.tiposComunicado = apifake, err => console.log(err))
        },
        
        //Filtra o item selecionado 
        computed: {
            tipoComunicadoFiltro() {
                return this.tiposComunicado.filter(tiposComunicado => tiposComunicado.type === this.idcat);
                alert(this.idcat);
            }
        }

    }
</script>