<template>
    <section class="categorias">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5>{{ titulo }}</h5>
                    <div class="scroll">
                        <ul>
                            <li v-for="t in tiposComunicados" :key="t.type" @click="filtrar(t.type)">{{ t.name }}</li>
                            <li @click="filtrar(0)">Todas</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<!--Scripts-->
<script>
  export default {
    name: 'app',

    //Dados da aplicação
    data () {
      return {
        titulo: 'Categorias',
        tiposComunicados: []
      }
    },
    
    //Consumindo dados da fake api
    created() {
        this.$http.get('http://localhost:84/tiposComunicados')
            .then(res => res.json())
            .then(apifake => this.tiposComunicados = apifake, err => console.log(err))
    },

    //Método de filtro
    methods: {
        filtrar: function(type) {
            this.$emit('filtrar', type);
        }
    }

  }
</script>

<!--Stylesheet-->
<style lang="scss">
  /* Categorias */
  .categorias {
    h5 {
      color: #949494;
      font-size: 1.4rem;
    }
    .scroll {
      height: 43px;
      overflow-x: auto;
    }
    ul {
      white-space: nowrap;
      li {
        background: #fff;
        display: inline-block;
        padding: 8px 10px;
        margin-right: 15px;
        border: 1px solid #dedede;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
</style>