<template>
    <section class="comunicados">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
                <li v-for="c in comunicadosFiltro" :key="c.id" :class="{ 'lido' : c.seen }" :style="corCategoria(c.type)">
                  <router-link :to=" { name : 'detalhe', params: { id: c.id}  }">
                      <div>
                        <p class="p-titulo">{{ c.title }}</p>
                        <p class="p-titulo">{{ c.id }}</p>
                      </div>
                      <div class="anexo" v-for="files in c.files">
                        <span>
                          <i class="glyphicon glyphicon-file"></i>
                          {{ files.name }}
                        </span>
                        <a :href="files.url" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a>
                      </div>
                      <div>
                        <categoria :idcat="c.type"></categoria>
                        <p class="p-data">{{ c.date | formatDate }}</p>
                      </div>
                    </router-link>
                </li>
            </ul>
           </div>
        </div>
      </div>
    </section>
</template>

<!--Scripts-->
<script>
  import Categoria from './Categoria.vue';

  export default {
    name: 'app',
    
    props: ['filtro'],

    components: {
        'categoria' : Categoria
    },

    //Dados da aplicação
    data () {
      return {
        comunicados: [],
        tiposComunicados: []
      }
    },
    
    //Função para filtro/pesquisa da lista    
    computed: {
        comunicadosFiltro() {
            if(this.filtro) {
                return this.comunicados.filter(comunicado => comunicado.type === this.filtro);
            }
            return this.comunicados;
        }
    },

    //Consumindo dados da fake api
    created() {
        this.$http.get('http://localhost:84/comunicados')
            .then(res => res.json())
            .then(apifake => this.comunicados = apifake, err => console.log(err));            
        this.$http.get('http://localhost:84/tiposComunicados')
            .then(res => res.json())
            .then(apifake => this.tiposComunicados = apifake, err => console.log(err))
    },

    //Cor da categoria
    methods: {
      corCategoria: function(type) {
          let array = this.tiposComunicados.filter(tiposComunicados => tiposComunicados.type === type);
          return "border-color: " + array[0].color;
      }
     },
    
  }
</script>

<!--Stylesheet-->
<style lang="scss">
  /* Comunicados */
  .comunicados {
    margin-top: 20px;
    ul {
      li {
        background: #fff;
        margin-bottom: 15px;
        border-left: 5px solid #ccc;
        border-radius: 5px;
        box-shadow: 4px 4px 12px #efefef;
        a {
          text-decoration: none;
          color: inherit;
          padding: 10px 13px;
          display: block;
        }
        p {
          &.p-titulo {
            font-weight: bold;
            font-size: 1.6rem;
          }
          &.p-categoria {
            color: #656565;
            margin: 0;
            font-size: 1.3rem;
          }
          &.p-data {
            color: #b1b1b1;
            margin: 0;
            font-size: 1.2rem;
          }
        }
        &:hover {
          background: #f9f9f9;
        }
        div {
          display: flex;
          justify-content: space-between;
        } 
        .anexo {
          color: #828282;
          background: #fff;
          border: 1px solid #e3e3e3;
          border-radius: 5px;
          padding: 5px 10px;
          margin-bottom: 15px;
          a {
            padding: 0;
          }
        }
        &.lido {
          background: #ebebeb;
        }
      }
    }
  }
</style>
