<template>
    <section class="comunicados">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{ titulo }} </h2>
            <ul>
                <li v-for="c in comunicadoFiltro" :key="c.id"  :style="corCategoria(c.type)">
                      <div>
                        <p class="p-titulo">{{ c.title }}</p>
                        <p class="p-titulo">{{ c.id }}</p>
                      </div>
                      <categoria :idcat="c.type"></categoria>
                      <p class="p-data">{{ c.date | formatDate }}</p>
                      <br />
                      <p>{{ c.description }}</p>
                      <p>{{ c.fullDescription }}</p>
                      <div class="anexo" v-for="files in c.files">
                        <span>
                          <i class="glyphicon glyphicon-file"></i>
                          {{ files.name }}
                        </span>
                        <a :href="files.url" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a>
                      </div>
                </li>
            </ul>
            <router-link :to=" { name : 'home' }"><button class="btn btn-success">Voltar</button></router-link>
           </div>
        </div>
      </div>
      
    </section>
</template>

<!--Scripts-->
<script>

  import Categoria from './Categoria.vue';

  export default {
    name: 'app',

    components: {
        'categoria' : Categoria
    },

    //Dados da aplicação
    data () {
      return {
        id: this.$route.params.id,
        titulo: "Mais informações sobre o comunicado",
        comunicado: [],
        tiposComunicados: []
      }
    },

    //Consumindo dados da fake api
    created() {
        this.$http.get('http://localhost:84/comunicados')
            .then(res => res.json())
            .then(apifake => this.comunicado = apifake, err => console.log(err));        
        this.$http.get('http://localhost:84/tiposComunicados')
            .then(res => res.json())
            .then(apifake => this.tiposComunicados = apifake, err => console.log(err))
    },
    
    //Filtra o item selecionado 
    computed: {
        comunicadoFiltro() {
          return this.comunicado.filter(comunicado => comunicado.id === this.id);
        }
    },

    //Cor da categoria
    methods: {
      corCategoria: function(type) {
          let array = this.tiposComunicados.filter(tiposComunicados => tiposComunicados.type === type);
          return "border-color: " + array[0].color;
      }
     },

  }
</script>

<!--Stylesheet-->
<style lang="scss">
  /* Comunicados */
  .comunicados {
    margin-top: 20px;
    ul {
      li {
        background: #fff;
        padding: 10px 13px;
        margin-bottom: 15px;
        border-left: 5px solid #ccc;
        border-radius: 5px;
        box-shadow: 4px 4px 12px #efefef;
        p {
          &.p-titulo {
            font-weight: bold;
            font-size: 1.6rem;
          }
          &.p-categoria {
            color: #656565;
            margin: 0;
            font-size: 1.3rem;
          }
          &.p-data {
            color: #b1b1b1;
            margin: 0;
            font-size: 1.2rem;
          }
        }
        div {
          display: flex;
          justify-content: space-between;
        } 
        .anexo {
          color: #828282;
          border: 1px solid #e3e3e3;
          border-radius: 5px;
          padding: 5px 10px;
          margin-bottom: 15px;
        }
      }
    }
  }
</style>