<template>
    <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-toggle-menu" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">{{ titulo }}</a>
          <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target="#myNavbarSearch">
            <i class="icon-search-bar glyphicon glyphicon-search"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbarSearch">
          <form class="navbar-form navbar-left" action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Pesquisa ..." @click="filtrar($event.target.value)" />
              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
</template>



<!--Scripts-->
<script>
  export default {
    name: 'app',

    //Dados da aplicação
    data () {
      return {
        titulo: 'Comunicados'
      }
    },

    //Método de pesquisa
    methods: {
        filtrar: function(texto) {
            this.$emit('filtrar', texto);
        }
    }
  }
</script>


<!--Stylesheet-->
<style lang="scss">
  /* Navbar */
  .navbar {
    background: #660099;
    padding: 5px 0;
    margin-bottom: 10px;
    border-radius: 0;
    .navbar-content{       
      display: flex;
      justify-content: space-between;  
    }
    .navbar-brand {
      color: #fff;      
    }
    .navbar-toggle-menu {
      color: #fff;
      float: none;
      margin-right: 0;
      margin-left: 10px;
      padding: 9px 0;
    }
    .navbar-toggle-search {
      color: #c299d6;
      margin: 13px 10px 0 0;
      padding: 0;
      font-size: 2.1rem;
    }
    .icon-bar {
      background: #c299d6;
    }
    .navbar-form{
      border: none;
      box-shadow: none;
    }
    .form-group {
      background: #fff;
      border-radius: 5px;
      .form-control, .btn {
        outline: none;
        border: none;
        box-shadow: none;
      }
      .btn:hover {
        background: none;
      }
    }
  }

  @media (max-width: 768px) {
    .navbar {
      .navbar-brand {
        float: none;
        margin-right: 0;
        margin-left: 10px;
        padding: 9px 0;
      }
      .navbar-content{       
        display: block;  
      }
      .navbar-form {
        .form-group {
          margin: 0 10px;
          display: flex;
        }
      }
      .navbar-toggle-menu {
        float: none;
        margin-right: 0;
      }
    }
  }
</style>
