<template>
  <div id="app">
    <navbar></navbar>
    <categorias @filtrar="filtrar"></categorias>
    <comunicados @filtrar="filtrar" :filtro="paramFiltro" ></comunicados>
  </div>
</template>

<!--Scripts-->
<script>

    import Nav from '../shared/Nav.vue';
    import Categorias from '../shared/Categorias.vue';
    import Comunicados from '../shared/Comunicados.vue';

    export default {
        name: 'app',

        components: {
            'navbar' : Nav,
            'categorias' : Categorias,
            'comunicados' : Comunicados
        },

        //Dados da aplicação
        data () {
            return {
                titulo: 'Comunicados',
                paramFiltro: ''
            }
        }, 
        
        //Métodos
        methods: {
            filtrar(type) {
                this.paramFiltro = type;
            }
        }

    }
</script>

<!--Stylesheet-->
<style lang="scss">
  /* Geral */
  body {
    background: #f7f7f7;
    color: #4f4f4f;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
