<template>
  <div id="app">
    <navbar></navbar>
    <detalhes></detalhes>
  </div>
</template>

<!--Scripts-->
<script>

    import Nav from '../shared/Nav.vue';
    import Detalhes from '../shared/Detalhes.vue';

    export default {
    name: 'app',

    components: {
        'navbar' : Nav,
        'detalhes' : Detalhes
    }

  }
</script>
