<template>
  <div id="app">
    <router-view></router-view>

    <!--Navbar- ->
    <nav class="navbar">
      <div class="navbar-content">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle navbar-toggle-menu" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href="#">{{ titulo }}</a>
          <button type="button" class="navbar-toggle navbar-toggle-search" data-toggle="collapse" data-target="#myNavbarSearch">
            <i class="icon-search-bar glyphicon glyphicon-search"></i>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbarSearch">
          <form class="navbar-form navbar-left" action="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Pesquisa ..." @input="pesquisa = $event.target.value" />
              <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <!--/Fim Navbar-->

    <!--Categorias- ->
    <section class="categorias">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h5>{{ titulo2 }}</h5>
            <div class="scroll">
              <ul>
                  <li v-for="t in tiposComunicados" :key="t.type" @click="filtrar(t.type)">{{ t.name }}</li>
                  <li @click="filtrar(0)">Todas</li>
              </ul>
            </div>
           </div>
        </div>
      </div>
    </section>
    <!--/Fim Categorias-->

    <!--Comunicados- ->
    <section class="comunicados">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
                <li v-for="c in comunicadosFiltro" :key="c.id" :class="{ 'lido' : c.seen }" @click="ler(c.id)">
                    <div>
                      <p class="p-titulo">{{ c.title }}</p>
                      <p class="p-titulo">{{ c.id }}</p>
                    </div>
                    <div class="anexo" v-for="files in c.files">
                      {{ files.type }}
                      {{ files.name }}
                      <a :href="files.url" target="_blank"><i class="glyphicon glyphicon-download-alt"></i></a>
                    </div>
                    <div>
                      <p class="p-categoria" v-for="t in tiposComunicados" v-if="t.type === c.type">{{ t.name }}</p>
                      <p class="p-data">{{ c.date | formatDate }}</p>
                    </div>
                </li>
            </ul>
           </div>
        </div>
      </div>
    </section>
    <!--/Fim Comunicados-->

  </div>
</template>

<!--Scripts- ->
<script>
  export default {
    name: 'app',

    //Dados da aplicação
    data () {
      return {
        titulo: 'Comunicados',
        titulo2: 'Categorias',
        comunicados: [],
        tiposComunicados: [],
        filtro: '',
        pesquisa: ''
      }
    }, 
    
    //Função para filtro/pesquisa da lista
    computed: {
        comunicadosFiltro() {
            //Melhorar função para pesquisar depois de filtrar
            if (this.filtro) {
              return this.comunicados.filter(comunicado => comunicado.type === this.filtro);
              this.filtro = '';
            } else if (this.pesquisa) {
              let exp = new RegExp(this.pesquisa.trim(), 'i');
              return this.comunicados.filter(comunicados => exp.test(comunicados.title));
              this.pesquisa = '';
            } else {
              return this.comunicados;
            }
          }
    },

    //Métodos
    methods: {
      filtrar(type) {
        this.filtro = type;
      },
      ler(id) {
        //Marcar comunicado como lido
        //this.$set(this.comunicados, id, true);
      }
    },
    
    //Consumindo dados da fake api
    created() {
        this.$http.get('http://localhost:84/comunicados')
            .then(res => res.json())
            .then(apifake => this.comunicados = apifake, err => console.log(err));

        this.$http.get('http://localhost:84/tiposComunicados')
            .then(res => res.json())
            .then(apifake => this.tiposComunicados = apifake, err => console.log(err))
    }

  }
</script>

<!--Stylesheet-->
<style lang="scss">
  /* Geral */
  body {
    background: #f7f7f7;
    color: #4f4f4f;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
